---
layout: layouts/test.njk
class: 2BHEL
group: A
subject: FSST
date: 2022-02-01
points: [2, 10, 8, 6, 4]
grading: "Benotung: >=27: 1, >=24: 2, >=20: 3, >15: 4, <=15: 5"
---

<ol>
  <li>Markiere, welche der folgenden Aussagen wahr bzw. falsch sind.<br />
  0-2 korrekt: 0 Punkte, 3 korrekt: 1 Punkt, 4 korrekt: 2 Punkte.
  <table class="true-false">
      <tr>
        <th>Aussage</th>
        <th>Wahr</th>
        <th>Falsch</th>
      </tr>
      {% yes_no_question 'Mit <code>fopen(.) können Dateien zum Lesen,
        Schreiben oder Anfügen geöffnet werden.', 'yes' %}
      {% yes_no_question 'Der Rückgabewert von <code>fopen</code> ist
        ein Pointer zu <code>FILE</code>.', 'yes' %}
      {% yes_no_question 'Ein Pointer kann nicht auf einen anderen Pointer
        zeigen.', 'no' %}
      {% yes_no_question 'Erst mit Hilfe von Pointern können Datenstrukturen
        wie Linked Lists implementiert werden.', 'yes' %}
    </table>
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "c" %}
int a = 5;
int* ptr = &a;
*ptr += 5;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
10
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
int a = 5;
int* ptr = &a;
int** p = &ptr;
**p *= **p;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
25
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {1, 2, 3, 4};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value += *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
10
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char name[] = "Chris";
char* name_ptr = name;
while (*name_ptr) {  // string ends with the `\0` character
  *name_ptr = toupper(*name_ptr);  // return upper case character
  name_ptr++;
}
printf("%s\n", name);
{% endhighlight %}
{% answer %}
CHRIS
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
typedef struct {int year; int month; int day;} IsoDate;
IsoDate date = {2022, 2, 1};
printf("%s\n", date);
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Schreibe eine Funktion
    <code>bool has_upper(char* string)</code> welche <code>true</code>
    zurück gibt, wenn mindestens ein Großbuchstabe darin vorkommt.
    Verwende dazu die Funktion <code>int isupper(.)</code> welche ein
    Zeichen als Argument nimmt und 0
    zurück gibt, wenn das Argument kein Großbuchstabe ist, sonst wird
    >0.
{% answer %}
{% highlight "c" %}
bool has_upper(char* string) {
  while (*string) {
    if (isupper(*string)) {
      return true;
    }
    string++;
  }
  return false;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Schreibe eine Funktion
    <code>void printDate(IsoDate* d)</code>
    welche das Übergebene Datum im ISO 8601 Format ('yyyy-mm-dd') auf
    <code>stdout</code> ausgibt. Die Datenstruktur Date ist definiert als
{% highlight "c" %}
typedef struct {int year; int month; int day;} IsoDate;
{% endhighlight %}
  1 Punkt für die Funktionssignatur; 2 Punkte für den Format String;
  3 Punkte für Lesen der Werte des Structs.
{% answer %}
{% highlight "c" %}
void print_date(const IsoDate* d) {
  printf("%04d-%02d-%02d\n", d->year, d->month, d->day);
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>
    Erstelle einen neuen Typen <code>Node</code> mit dem Variablen eines
    structs namens <code>node_struct</code> deklariert werden können.<br />
    Definiere danach den <code>struct node_struct</code>, welcher eine Zahl
    <code>value</code> sowie zwei Node Pointer mit den Namen
    <code>prev</code> und <code>next</code> speichert.
     1 Punkt für das Erstellen des Datentypen; 3 Punkte für die korrekten
     Deklaration des <code>struct</code>.
{% answer %}
{% highlight "c" %}
typedef struct node_struct Node;

struct node_struct {
  int value;
  Node* prev;
  Node* next;
};
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
