{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}
{% extends "layouts/presentation.njk" %}
{% set source_path = "source/" + language_ + "/unit_testing/" %}
{% set data_path = "/data/" + language_ + "/unit_testing/" %}

{% block presentation %}
<section>
  <h2>Purpose of Unit Tests</h2>
  <section>
    <h3>What is a Unit Test</h3>
    <ul>
      <li>Allows automated testing of independent code units</li>
      <li>No replacement for other test categories</li>
      <li>Write them as early as possible - if possible before the code it tests</li>
      <li>Tests can serve as useful requirements specification</li>
      <li>Create a test for each bug you encounter (refacturing!)</li>
    </ul>
  </section>
  <section>
    <h3>Which problems does unit testing solve?</h3>
    <p>Unit tests...</p>
    <ul>
      <li>are a first line of defense against bugs</li>
      <li>improve code quality by dictating testable code</li>
      <li>allow releasing higher quality early and often</li>
      <li>give more confidence to programmers</li>
      <li>are a prerequisit to refactoring</li>
      <li>can be used as a contract with regard to desired behavior</li>
      <li>prevent regressions (bugs in features priorly working properly)</li>
    </ul>
  </section>
  <section>
    <h3>Which problems does unit testing cause?</h3>
    <p>Essentially none, but writing unit tests ...</p>
    <ul class="fragment">
      <li>seems to cost time</li>
      <li>demands discipline</li>
      <li>is far from trivial</li>
      <li>does not substitute other kinds of testing</li>
    </ul>
  </section>
</section>

<section>
  <section>
  <h2>What is a Test(case)</h2>
  <ul>
    <li>Answers a single question about the code it is testing</li>
    <li>Run completely by itself (automation)</li>
    <li>Results must not require human interpretation</li>
    <li>Should be independent of other tests and their order of execution</li>
    <li>Can serve as documentation of how (not) to use your code</li>
  </ul>
  </section>

  <section>
    <h3>Flaky Tests</h3>
    <ul>
      <li>Have different outcomes without changes to the code</li>
      <li>Erode confidence in testing processes</li>
      <li>Fix them (mute / skip them until they are fixed) or delete them</li>
    </ul>
  </section>
</section>

<section>
  <h2>Software Quality</h2>
  <section>
    <h3>User's view (visible to the user)</h3>
    <ul>
      <li>Functionality</li>
      <li>Reliability</li>
      <li>Usability</li>
      <li>Performance/ efficiency</li>
    </ul>
  </section>
  <section>
    <h3>Producer's view</h3>
    <ul>
      <li>Portability</li>
      <li>Maintainability</li>
      <li>Testability (vs. legacy code)</li>
      <li>Transparency (is the code readable/ understandable?)</li>
    </ul>
  </section>
</section>

<section>
  <h2>We Need a Unit Testing Framework</h2>
  <p>For writing, compiling and running unit tests, a unit testing framework
    is required.
  </p>
  <p class="fragment">There are many concurring
    <a href="https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#{{ language }}">
      unit testing frameworks for {{ language }}</a>.
  </p>
{% block framework %}{% endblock %}
</section>

<section>
  <h2>Example: Refactor a Function</h2>
  <section>
{% highlight language_ %}
{% include source_path + "before_refactoring." + language_ %}
{% endhighlight %}
{% download data_path + "before_refactoring." + language_ %}

<div class="fragment">
<p>After experiencing performance problems, we want to
  use a faster algorithm
</p>

{% highlight language_ %}
{% include source_path + "after_refactoring." + language_ %}
{% endhighlight %}
{% download data_path + "after_refactoring." + language_ %}
</div>
  </section>
  <section>
    <p>How can we apply the change without risking to destroy our
      application?</p>
    <ol class="fragment">
      <li>Define good test cases</li>
      <li>Implement test cases using your project's unit testing library</li>
      <li>Run the tests before the change to ensure they pass</li>
      <li>Apply the change, then run the tests again</li>
    </ol>
  </section>

  <section>
    <h3>1. Define Good Test Cases</h3>
    <p>Using pencil and paper / brainstorming: define relevant test cases</p>
    <ul>
      <li>All code paths should be used</li>
      <li>Add one or more common cases</li>
      <li>Include relevant edge cases</li>
    </ul>

    <p class="fragment">25 is a possible common case.
      Add 26 as an even input.
      The edge cases should
      include 0 and 4294967295.<br />
      Expected results for these are 325, 351, 0 and 9223372034707292160.
    </p>
    <p class="fragment">Let's also add 500000000 (expected result
      125000000250000000) as 4294967295 does not terminate with the current
      implementation.
    </p>
  </section>

  <section>
    <h3>2. Implement defined test cases</h3>
{% highlight language_ %}
{% include source_path + "test_sum_to." + language_ %}
{% endhighlight %}
{% download data_path + "test_sum_to." + language_ %}
  </section>

  <section>
    <h3>3. Run the Unittests Before the Change</h3>
{% block run_tests_before %}{% endblock %}
  </section>

  <section>
    <h3>4. Apply the Change, then Run the Tests Again</h3>
    <p>For the sake of the presentation, instead of applying the change,
      we use another source file.
    </p>
{% block run_tests_after %}{% endblock %}
{% if language_ in ['c', 'cpp'] %}
    <p class="fragment">Now the tests are fast, but they are failing.
      Fix the code, then compile and run the tests again.
    </p>
{% endif %}
  </section>
</section>

{% block about_framework %}{% endblock %}

<section class="center">
  <h2>
    <q>Whenever you are tempted to type something into a <code>print</code>
    statement or a debugger expression, write it as a test instead.</q><br />
    <cite>– Martin Fowler</cite>
  </h2>
</section>

{% include 'slides/closing.njk' %}
{% endblock %}
