---
title: Programming in C++
subtitle: Standard Template Library (STL)
layout: layouts/presentation.njk
---

<section>
  <h1>WIP</h1>
</section>

<section>
  <h2>Advantages of the STL</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

{% include 'slides/closing.njk' %}
