/*
 * Common style file shared by all presentations.
 */


/* avoid mathjax double-rendering issue */
mjx-assistive-mml {
  display: none;
}

.reveal {
  font-family: "Nunito", sans-serif;
  font-size: 180%;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Yanone Kaffeesatz';
  text-transform: inherit;
  text-shadow: none;
  color: #6d0505;
  margin-top: 1ex;
}

.code {
  font-family: 'Fira Code' !important;
}

/* Allow using about 80 chars on an FHD display. */
pre > code[class*="language-"] {
  font-size: 1.2em;
}

.reveal pre {
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: 'Fira Code' !important;
  font-size: 55%;
  margin: 0;
  padding: 0;
}

.reveal pre code {
  padding: 0;
}

.reveal ul {
  margin-bottom: 1ex;
}

.container {
  display: flex;
}

.container.column {
  flex: 1;
}

/* Show the status of computer memory in a table */
table.memory {
  margin-top: 3ex;
}
table.memory td {
  font-family: 'Fira Code';
}

.inline-box {
  text-align: center;
  display: inline-block;
}
