/*
 * Common style file share by exercises and tests.
 */

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3em;
  margin: 0 auto;
  max-width: 820px;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

kbd, code, pre {
  font-family: 'Fira Code', monospace;
  font-size: 90%;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'Fira Code', monospace;
}

pre, li, p {
  page-break-inside: avoid;
}

pre {
  border-left: 1ex solid gray;
  padding-left: 1ex;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

td, th {
  padding: 0 1em;
  border: 1px solid black;
}

td.score, th.score {
  text-align: right;
}

li {
  margin-bottom: 1ex;
  margin-left: 1em;
  display: list-item;
  text-align: justify;
}

li li {
  margin-left: 1.5em;
}

ol {
  margin-top: 1em;
}

ol ol {
  list-style-type: lower-alpha;
}

input[type='checkbox'] {
  margin: 0.5em 1em 0 0.5em;
}

input[type='button'] {
  padding: 0.2em 1em;
  margin: 0.2em;
}



/* multiple choice question */
div.choice {
  display: flex;
  align-items: center;
  margin: 0.4em 0;
}

div.choice input {
  display: flex;
}

div.choice label {
  display: flex;
}

.mc_question.show_solution label:after {
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.mc_question.show_solution label.true:after {
  content: "true";
  color: green;
}

.mc_question.show_solution label.false:after {
  content: "false";
  color: red;
}

/* yes-no questions */

tr.yes_no_question:after {
  content: "?";
  border: 1px solid black;
  margin-left: 0.3cm;
  margin-right: 0.3cm;
  padding: 0 0.3cm;
  display: table-cell;
  vertical-align: middle;
}

tr.yes_no_question:hover:after {
  background-color: #dfdfdf;
}

tr.show_solution > td.yes_no_solution {
  background: linear-gradient(to top right, transparent calc(50% - 1px), black, transparent calc(50% + 1px)), linear-gradient(to bottom right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

div.answer {
  border-radius: 0.3cm;
  padding: 0.3cm;
}

div.answer:hover {
  transition: background-color .5s;
  background-color: #dfdfdf;
}

div.answer::before {
  font-size: 80%;
  content: "Click here to toggle solution!";
  margin-bottom: 0.3cm;
}

.solution {
  visibility: hidden;
}

/* Make sure the Hash is only shown on printouts. */
div.printedHash {
  display: none;
}

.grading {
  font-size: 60%;
}

@media print {
  /* I initially had a page break after the header to separate the student name
     from their tasks to be able to correct more objectively without knowing
     whose test I correct. By now, I tend to have single choice tasks which
     can be corrected objectively anyway, hence the page break is not needed
     anymore. */
  header {
    page-break-after: auto;
    margin-bottom: 3em;
  }

  div.answer::before {
    content: none;
    margin-bottom: 0.3cm;
  }

  tr.yes_no_question:after {
    content: none;
  }

  /* Allows showing hash on each page of a printed test.
   * This allows to anonymize tests by only having the name
   * on the first page.
   */
  div.printedHash {
    display: block;
    position: fixed;
    bottom: 0;
  }

  /* Narrow font for code listings. */
  code[class*="language-"], pre[class*="language-"] {
    font-family: 'M PLUS 1 Code', monospace;
    font-size: 90%;
    background-image: none;
  }

  .solution {
    visibility: hidden !important;
  }

  .solution-button {
    visibility: hidden !important;
  }
}
