---
title: POS 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: POS 3
  parent: POS
  order: 3
---

# Intro to OOP

<h2 id="overview">Course Overview</h2>
<ul></ul>

<h2 id="exercises">Programming Exercises</h2>
<ul>
  <li><a href="/exercises/cpp/oop_intro/">Intro to OOP</a></li>
</ul>

{# <h2 id="exams">Prior Exams</h2>
<ul>
</ul>
#}

<h2 id="links">Links</h2>

{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="lehrstoff">Lehrstoff</h2>

<ul>
  <li>Bereich Programmiergrundlagen
    <ul>
      <li>Statische und dynamische Datenstrukturen einsetzen und den Ablauf der
        wichtigsten Operationen für dynamische Datenstrukturen erklären</li>
      <li>Objektorientierte Konzepte verstehen und anwenden</li>
      <li>Das Konzept der Rekursion und ihre Anwendungsgebiete erklären</li>
    </ul>
  </li>
  <li>Bereich Anwendungsprogrammierung
    <ul>
      <li>Aufgrund der Eigenschaften einiger Programmbibliotheken für gängige
        Aufgaben eine geeignete Auswahl daraus treffen</li>
      <li>Programme mit einer modernen, grafischen Benutzeroberfläche
        entwickeln</li>
    </ul>
  </li>
  <li>Bereich Softwareentwicklungsprozess
    <ul>
      <li>Softwarelösungen für komplexe Systeme mit Hilfe gängiger Tools
        planen</li>
    </ul>
  </li>
</ul>
