---
title: FSST 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 3
  parent: FSST
  order: 3
---
<h2 id="overview">Course Overview</h2>
<ul>
  <li>Programming in C++
    <ul>
      <li><a href="/presentations/cpp/fast_track/">Fast Track to C++ Syntax for C Programmers</a></li>
    </ul>
  </li>
</ul>

<h2 id="links">Links</h2>

{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd Year)</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<ul>
  <li>Operating Systems
    <ul>
      <li>Operating system architecture</li>
      <li>Installation and configuration of services</li>
    </ul>
  </li>
  <li>Programming Languages
    <ul>
      <li>Grundzüge einer objektorientierten Programmiersprache</li>
      <li>Weiterführende Grundlagen einer objektorientierten Programmiersprache</li>
    </ul>
  </li>
  <li>Software Development
    <ul>
      <li>Objektorientierte Programmentwicklung</li>
      <li>Graphical User Interfaces</li>
      <li>Fachspezifische Algorithmen</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Software zur Ansteuerung von Peripheriekomponenten</li>
      <li>Ereignissteuerung</li>
      <li>Schnittstellenkommunikation zwischen Systemen</li>
      <li>Datenerfassung</li>
    </ul>
  </li>
</ul>
