---
title: KSN
layout: layouts/base_subject.njk
eleventyNavigation:
  key: KSN
  order: 5
---
<h2 id="4hel">4CHEL (WS 2021/22)</h2>

{#<h3>Tests</h3>
<p>2022-03-30 (if still on a Wednesday)</p>#}

<p>For running the Python code discussed in class, you can
  <ul>
    <li>preferably use your own hardware by
      <a href="http://docs.find-santa.eu/python/installation/">installing
      Python and the required libraries</a> (numpy, matplotlib, ipywidgets and
      jupyterlab)</li>
    <li>use sandbox.bulme.at (login via ssh using
      <code>firstname.lastname</code> as username and your email password)</li>
    <li>resort to <a href="https://colab.research.google.com/">Google
      Colab</a></li>
  </ul>
</p>

<h3 id="exercises">Exercises</h3>
<ul>
  <li><a href="/data/py/rf_exercise.ipynb">RF exercise</a></li>
</ul>

<h3 id="source">Source Code Examples</h3>
<ul>
  <li><a href="/data/py/rot13.py">rot13.py</a></li>
  <li><a href="/data/py/data_analysis.ipynb">data_analysis.ipynb</a></li>
</ul>


<h4>Online IDEs and Interactive Learning Platforms</h4>
<ul>
  <li><a href="https://www.hackerrank.com">HackerRank</a></li>
  <li><a href="https://replit.com/">repl.it</a></li>
  <li><a href="https://jupyter.org/try">(Try) Jupyter Notebooks</a></li>
</ul>

<h4 id="books">Books</h4>
<ul>
  <li><a href="https://www.inference.org.uk/itprnn/book.pdf">Information Theory, Inference, and Learning Algorithms</a></li>
  <li><a href="https://smile.amazon.de/Information-Theory-Tutorial-Introduction-Book/dp/0956372856/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=">Information Theory: A Tutorial Introduction</a></li>
  <li><a href="https://pysdr.org/">PySDR: A Guide to SDR and DSP using Python</a></li>
</ul>

<h4 id="videos">Videos</h4>
<ul>
  <li><a href="https://www.youtube.com/watch?v=BCiZc0n6COY&list=PLruBu5BI5n4aFpG32iMbdWoRVAA-Vcso6">Introduction to Information Theory (playlist)</a></li>
</ul>



<h2>Lehrplan</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Lehrplan im RIS</a> (Anlage 1.5)

<h3>IV. Jahrgang – Kompetenzmodul 7</h3>
<ul>
  <li>Bereich Grundlagen der Informationstheorie und Übertragungstechnik
    <ul>
      <li>Grundbegriffe der Informationstheorie</li>
      <li>Quellcodierung</li>
      <li>Zeit- und Frequenzdarstellung von zeitkontinuierlichen und zeitdiskreten Signalen</li>
    </ul>
  </li>
  <li>Bereich Hochfrequenztechnik
    <ul>
      <li>HF-Bauelemente</li>
      <li>Leitungen</li>
      <li>Sende- und Empfangskonzepte</li>
    </ul>
  </li>
  <li>Bereich Netzwerke
    <ul>
      <li>Protokollanalyse</li>
    </ul>
  </li>
  <li>Bereich Netzwerkdienste
    <ul>
      <li>Kommunikationstechnische Dienste</li>
    </ul>
  </li>
</ul>

<h3>IV. Jahrgang – Kompetenzmodul 8</h3>
<ul>
  <li>Bereich Grundlagen der Informationstheorie und Übertragungstechnik
    <ul>
      <li>Kanalcodierung</li>
      <li>Modulationsverfahren</li>
    </ul>
  </li>
  <li>Bereich Hochfrequenztechnik
    <ul>
      <li>Antennen und Freiraumausbreitung</li>
    </ul>
  </li>
  <li>Bereich Netzwerke
    <ul>
      <li>Konfiguration von Netzwerkkomponenten</li>
    </ul>
  </li>
</ul>
