---
title: Information Theory
subtitle: Introduction
layout: layouts/presentation.njk
---

<section>
  <h2>What is Information Theory</h2>

  <section>
    <h3>Brief History</h3>
    <dl>
      <dt>1920s</dt>
      <dd>Concept was fundamentally established by the works of Harry Nyquist and Ralph Hartley</dd>
      <dt>1948</dt>
      <dd>Claude E. Shannon's article "A Mathematical Theory of Communication" was published</dd>
    </dl>
  </section>

  <section>
    <p>Information theory is the scientific study of the quantification, storage, and communication of digital information.</p>
    <ul>
      <li>Transmission, processing, extraction, and utilization of information</li>
      <li>Communication of information over a noisy channel</li>
      <li>Coding theory: finding methods ("codes") for increasing the efficiency and reducing the error of data communication</li>
      <ul>
        <li>Data compression (source coding)</li>
        <li>Error-correction (channel coding)</li>
      </ul>
    </ul>
  </section>
</section>

<section>
  <h2>What is Information?</h2>
  <section>
    <p>Information is a well defined and <strong>measurable quantity</strong>.</p>
    <ul>
      <li class="fragment">Information can be communicated between any system, whether man-made
        or biological</li>
      <li class="fragment">Difference between Information and Data?</li>
      <li class="fragment">One bit is the amount of information to choose between two
        <emph>equally probable</emph> alternatives</li>
    </ul>

    <aside class="notes">
      <ul>
        <li>Information as a useful <strong>signal</strong>, the rest is
          distracting <strong>noise</strong></li>
        <li>Biological systems: nervous system, DNA</li>
        <li>Ability of eyes and ears to extract useful signals from noisy data</li>
        <li>Ability to separate signal from noise is essential to Darwin-Wallace theory of evolution by natural selection
          <ul>
            <li>"Evolution works by selecting the individuals best suited to a
              particular environment so that, over many generations,
              information about the environment gradually accumulates within
              the gene pool. Thus, natural selection is essentially a means
              by which information about the environment is incorporated into
              DNA."</li>
            <li>Compare: Jared Diamond's "Guns, Germs and Steel"</li>
          </ul>
        </li>
        <li>Bit: decision between left and right at intersection</li>
        <li>Required <code>char</code>, used <code>int</code>? What is noise?
          Why still sometimes use <code>int</code>?</li>
      </ul>
    </aside>
  </section>

  <section>
    <h3>Bit</h3>
    <ul>
      <li>Derived from <emph>binary digit</emph></li>
      <li>Advantages of binary representation</li>
    </ul>
    <p class="fragment">Logarithms: when deciding among $m$
      <emph>equally probable</emph>
      alternatives, one needs
      $$n = \log_2 m$$
      bits of information
    </p>

    <aside class="notes">
      <ul>
        <li>Explicitly represents eg. a set of left / right instructions</li>
        <li>With a given probability that left is right (eg 80%), the 0
          provides less than 1 bit of information when given</li>
        <li>Example: Unix file permissions: bin vs. octal</li>
        <li>Algorithms example: search in sorted array or balanced binary
          tree; Bit O notation</li>
        <li>Task: Game of 20 yes / no questions; how many answers</li>
      </ul>
    </aside>
  </section>
</section>

<section>
  <section>
    <h2>Telegraphy and Morse Code</h2>
    <ul>
      <li>William Cooke and James Wheatstone developed electric telegraph
        (patented 1837)</li>
      <li>Only able to send 23 different letters</li>
      <li class="fragment">During 1830s Alfred Vail and Samuel Morse
        developed the first version of <emph>Morse Code</emph></li>
      <li class="fragment">Short <emph>codewords</emph> for the most common
        letters</li>

    <aside class="notes">
      <ul>
        <li>26 electic lines + compass</li>
        <li>fewer lines means fewer failures</li>
        <li>Morse went to a printers workshop and counted the copies of
          each letter</li>
        <li>Allowed efficient use of a communication channel</li>
      </ul>
    </aside>
  </section>

  <section data-background-image="/images/information_theory/international_morse_code.svg"
           data-background-position="bottom left"
           data-background-size="auto 100%">

<div style="float:right;">
<p>Encoding the text "morse code"</p>
{% highlight "txt" %}
−− −−− ·−· ··· ·       −·−· −−− −·· ·
M   O   R   S  E        C    O   D  E
{% endhighlight %}
</div>
  </section>

  <section>
<code>
  <h3>Example: Signals for Sending "Morse Code"</h3>
  <p><code>=</code> representing "signal on", and <code>.</code> representing
    "signal off"</p>
</code>

<div style="font-size: 90%;">
{% highlight "txt 0,9" %}
−− −−− ·−· ··· ·       −·−· −−− −·· ·
M   O   R   S  E        C    O   D  E


         1         2         3         4         5         6         7         8
12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789

M------   O----------   R------   S----   E       C----------   O----------   D------   E

===.===...===.===.===...=.===.=...=.=.=...=.......===.=.===.=...===.===.===...===.=.=...=
   ^               ^    ^       ^             ^
   |              dah  dit      |             |
symbol space                letter space    word space
{% endhighlight %}
<p>Source: <a href="https://en.wikipedia.org/wiki/Morse_code#Timing">https://en.wikipedia.org/wiki/Morse_code#Timing</a></p>
<p><a href="https://en.wikipedia.org/wiki/Morse_code#Letters,_numbers,_punctuation,_prosigns_for_Morse_code_and_non-Latin_variants">Audio representation for Morse code letters</a></p>
</div>
  </section>

</section>

<section>
  <h2>Example: Images</h2>
  <section data-background-image="/images/information_theory/bitcoin-logo-binary.svg"
           data-background-position="bottom left"
           data-background-size="auto 100%">
    <div style="float: right;">
      <p>1,230x1,691 pixel binary image</p>
      <ul>
        <li>2079930 pixels</li>
        <li>"brute force" would send a value for each pixel</li>
        <li class="fragment">Alternative methods</li>
        <li>Sending only the locations of black pixels like [(123,48),(124,48),...]</li>
      </ul>
    </div>

    <aside class="notes">
      <ul>
        <li>

        </li>

      </ul>
    </aside>
  </section>

  <section>
    What is Information?

    Information is the resolution of uncertainty.
Shannon C, 1948.


  </section>
</section>



{% include 'slides/closing.njk' %}
