---
title: Programming in C
subtitle: Fast Track to C Syntax for Programmers
layout: layouts/presentation.njk
---

<section>
  <h2>Variables and Data Types</h2>
  <section>

{% highlight "c" %}
{% include "source/c/data_types.c" %}
{% endhighlight %}
    <p>{% download "/data/c/data_types.c" %}</p>
  </section>

  <section>
    <h3>Block Scope</h3>
    <p>Identifiers are only valid in their defining block</p>
{% highlight "c" %}
{% include "source/c/block_scope.c" %}
{% endhighlight %}
    <p>{% download "/data/c/block_scope.c" %}</p>
  </section>

  <section>
    <h3>Reading Input</h3>
{% highlight "c" %}
{% include "source/c/input.c" %}
{% endhighlight %}
    <p>{% download "/data/c/input.c" %}</p>
  </section>

</section>

<section>
  <h2>Conditional Execution</h2>

  <section>
    <h3><code>if</code> and <code>else</code></h3>
{% highlight "c" %}
if (expression) {
  // block
} else if (expression) {
  // block
} else {
  block
}
{% endhighlight %}
    <div class="fragment">
    <p>The <a href="https://www.freecodecamp.org/news/c-ternary-operator/">ternary
      operator</a> provides a shorthand</p>
{% highlight "c" %}
Type result = condition ? value_if_true : value_if_false;
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example: <code>if</code> and <code>else</code></h3>
{% highlight "c 4-8" %}
{% include "source/c/if.c" %}
{% endhighlight %}
{% include_code "source/c/if.c" %}
  </section>

  <section>
    <h3><code>switch</code></h3>
    <p>The C switch statement jumps to the block of code matching the value
      of an expression.<br />
      It executes one or multiple code blocks among many alternatives.</p>
{% highlight "c" %}
switch (expression) ​{
    case constant1:
      // statements
      break;  // without break, execution of the following blocks continues
    case constant2:
      // statements
      break;
    // ...
    default:
      // statements
}
{% endhighlight %}
  </section>

  <section>
    <h3>Example: <code>switch</code></h3>
    <p></p>
{% highlight "c" %}
{% include "source/c/switch.c" %}
{% endhighlight %}
{% include_code "source/c/switch.c" %}
  </section>

</section>

<section>
  <h2><code>while</code> Loops</h2>

  <section>
{% highlight "c" %}
while (expression) {
  // block
}
{% endhighlight %}
    <div class="fragment">
      <p><code>do ... while</code>: run code block at least once
        regardless of the expression</p>
{% highlight "c" %}
do {
  // block
} while (expression);
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example</h3>
{% highlight "c 4-7" %}
{% include "source/c/while.c" %}
{% endhighlight %}
{% include_code "source/c/while.c" %}

  </section>
</section>

<section>
  <h2><code>for</code> Loops</h2>

  <section>
{% highlight "c 4-7" %}
for (initialization; condition; update_statement) {
  // block
}
{% endhighlight %}
    <div class="fragment">
      <p><code>initialization</code> and <code>update_statement</code> are optional</p>
    </div>
    <div class="fragment">
      <p>Every <code>for</code> loop can be expressed as <code>while</code>
        loop</p>
{% highlight "c" %}
// initialization
for (; condition; ) {
  // block
  // update_statement;
}

while (condition) {
  // block
}
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Example</h3>
{% highlight "c 4,7,10" %}
{% include "source/c/for.c" %}
{% endhighlight %}
{% include_code "source/c/for.c" %}
  </section>
</section>

<section>
  <h2>Functions</h2>

  <section>
    <h3>Function Signature</h3>
    <p>aka. <strong>type signature</strong> or
      <strong>type annotation</strong></p>
    <p>Defines the data types of the parameters and return value</p>
    <div class="fragment">
      <p>For example, a function that returns the sum of two integers:</p>
{% highlight "c" %}
(int)(int, int)
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Function Declaration</h3>
    <p>aka. <strong>function prototype</strong> or
      <strong>function interface</strong></p>
      <ul>
        <li>Specifies the function name and type signature, but omits the
          body</li>
        <li>Required for using functions that are defined elsewhere</li>
        <li>Promise to the compiler that the function will exist when linking</li>
      </ul>
      <p></p>
    <div class="fragment">
      <p>For example, a function that returns the sum of two integers:</p>
{% highlight "c" %}
int sum(int a, int b);
{% endhighlight %}
    </div>
    <div class="fragment">
      <p>The parameter names are optional:</p>
{% highlight "c" %}
int sum(int, int);
{% endhighlight %}
    </div>
  </section>

  <section>
    <h3>Function Definition</h3>
    <ul>
      <li>Adds the function body to the declaration</li>
      <li>The signature and name must exactly match the declaration</li>
    </ul>
{% highlight "c" %}
Type function_name(Type parameter1, Type parameter2, ...) { block }
{% endhighlight %}
    <div class="fragment">
      <p>For example, a function that returns the sum of two integers:</p>
{% highlight "c" %}
int sum(int a, int b) {
  return a + b;
}
{% endhighlight %}
    </div>

  </section>
</section>

{% include 'slides/closing.njk' %}
