---
layout: layouts/exercise_base.njk
exercise: Introduction to OOP
---

<ol>
  <li><strong>Rolling a Die</strong><br />
  Implement a class for rolling a six-sided die. The class should store the
  last result in a private variable. In addition, it should keep stats
  of how many times each number was thrown in an appropriate data structure.
  The API of the class must offer four public methods:
{% highlight "cpp" %}
// reset all stats to 0
void reset();

// create a random integer 1..6, store it as private property and return it
int roll();

/* print the stats, one per line (eg.
1: 45
2: 53
...
 */
void print_stats();

// return the stored integer result from the last toss
int value();
{% endhighlight %}
  In <code>main(.)</code>, instantiate an object of the above class, roll the
  die 10000 times and print the stats to <code>stdout</code>.
  <br />
  Name the source file: <kbd>rolling_a_die.cpp</kbd>
  </li>

  <li><strong>Roulette</strong><br />
  Implement a class for playing a simplified
  <a href="https://en.wikipedia.org/wiki/Roulette">roulette</a> game. The class
  must store the most recent number. It must offer an API to start a new game
  and interpret the resulting number.
{% highlight "cpp" %}
bool is_black();
bool is_even();  // aka. pair
bool is_high();  // the number was between 19..36 (passe)
bool is_low();  // the number was between 1..18 (manque)
bool is_odd();  // aka. impair
bool is_red();
bool is_zero();

// create a random integer 0..36, store it as private property and return it
int roll();

// return the stored integer
int value();
{% endhighlight %}
  <br />
  Name the source file: <kbd>roulette.cpp</kbd>
  </li>
</ol>
