---
layout: layouts/exercise_base.njk
exercise: Operator Overloading
---
<ol>
  <li><strong>Allow "adding" vectors</strong><br>
    Overload the <code>+</code> operator (<code>operator+</code>)
    for vectors of any type to
    represent the following behavior.
    The resulting new vector must contain the
    sum of each element whenever the element exists in both vectors.
    If one vector has more elements than the other, the element should
    be taken without modification. For example:
{% highlight "cpp" %}
// v1: 1, 2, 3
// v2: 7, 8
v3 = v1 + v2;  // v3: 8, 10, 3 (1+7, 2+8, 3)
{% endhighlight %}

    Name the program file: <kbd>operator_overloading.cpp</kbd>
  </li>
</ol>
