{# can likely be removed; `grep -rn c_unit_testing` #}
<{{ include_header_level }} id="c_unit_testing">Unit Testing in C
</{{ include_header_level }}>

<p>To get started, we need a library capable of running unit tests.
  <a href="https://criterion.readthedocs.io/en/latest/intro.html">criterion</a>
  is one of the best ones currently available for C
  (<a href="https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#C">
    List of unit testing frameworks</a>). Installation instructions are
  available in their <a href="https://github.com/Snaipe/Criterion">Github
  repository</a>.
{% highlight "bash" %}
sudo apt install cmake meson ninja-build
git clone git@github.com:Snaipe/Criterion.git
cd criterion
meson build && ninja -C build && sudo ninja -C build install
sudo ldconfig
{% endhighlight %}
  Use the project's
  <a href="https://criterion.readthedocs.io/en/latest/starter.html">documentation</a>
  to get started writing unit tests.
</p>
