---
title: FSST 4
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 4
  parent: FSST
  order: 4
---


<h2 id="agile">Agile Software Development</h2>
<ul>
  <li><a href="http://agilemanifesto.org/">Manifesto for Agile Software Development</a></li>
  <li><a href="http://agilemanifesto.org/principles.html">Principles behind the Agile Manifesto</a></li>
</ul>

<h2 id="linux">Introduction to Linux</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/">Introduction to KDE Neon (Linux) and Bash</a></li>
</ul>

<h2 id="c++">Introduction to C++ (for Programmers)</h2>
<ul>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/old_11_cpp/">Introduction to Basic C++ for Programmers — Part 1</a></li>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/old_12_cpp/">Introduction to Basic C++ for Programmers — Part 2</a></li>
  <li><a href="http://www.cplusplus.com/doc/tutorial/">C++ Language Tutorial</a></li>
</ul>

<h2 id="databases">Introduction to Databases</h2>

<p>SQL skills are highly demanded in
  the labour market and are part of most programmer's daily work.
  In addition, they are paid well, see eg.
  <a href="https://www.google.com/search?channel=fs&client=ubuntu&q=sql+programmer+salary">SQL Programmer Salary</a>.
  So please stay focused as you study SQL and complete your assignment work.
</p>

<p>
We'll use SQLite3 which is a reasonably complete implementation of the SQL-92
standard and generally follows PostgreSQL syntax.
</p>

<p>Set up your computer to have a working installation of a database
  browser and an actual database.
</p>
<ol>
  <li>Download <a href="https://sqlitebrowser.org/dl/">DB Browser for SQLite</a>
    (available via <code>apt</code> when using Debian based Linux
    distributions</li>
  <li>Download the
    <a href="https://www.senarclens.eu/~gerald/teaching/Northwind_large.sqlite.bz2">Northwind-SQLite3</a>
    database, extract it and open it with SQLite DB Browser</li>
  <li>To get an understanding of the database, study the entity relationship
    diagram (ERD) of the northwind database:
    <a href="https://raw.githubusercontent.com/jpwhite3/northwind-SQLite3/master/Northwind_ERD.png">Northwind ERD</a></li>
  <li>Look at the database structure and try to understand the fields of the 13 tables in the database</li>
  <li>Browse the data to get a feeling for the data tables present</li>
</ol>

<p>To prepare for your exam and get help for our exercises, work through the
  <a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a>, but
  execute the examples in your local database (use the
  <kbd>Execute SQL</kbd> tab of DB Brower for SQLite).
  So far, we covered everything up to and including <code>join</code>.
  Wikipedia also provides a good introduction to
  <a href="https://en.wikipedia.org/wiki/Join_(SQL)">SQL Joins</a>.
  Note that <code>right join</code> is not supported in sqlite3.</p>

<h3 id="sql_exercises">SQL Exercises</h3>
<ul>
  <li><a href="/exercises/sql/exercise_1/">Introduction to SQL</a></li>
  <li><a href="/images/databases/web_shop_simple.pgerd.png">web_shop_simple.pgerd.png</li>
</ul>

<h3 id="sql_sample_code">Sample Code</h3>
<ul>
  <li><a href="/data/databases/sqlite/select.c">select.c</a>
    (compile via <code>clang read_database.c -l sqlite3</code> or
    <code>gcc read_database.c -l sqlite3</code>)<br />
    Documentation:
    <a href="https://www.sqlite.org/c3ref/intro.html">C-language Interface
      Specification for SQLite </a>
    </li>
  <li><a href="/data/databases/sqlite/select.py">select.py</a><br />
    Documentation:
    <a href="https://docs.python.org/3/library/sqlite3.html">sqlite3
      — DB-API 2.0 interface for SQLite databases</a>
  </li>
  <li><a href="https://github.com/senarclens/sqlite-js-examples">JavaScript (nodejs)</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsst4_final_f2021_a_de/">FSST 4 final f2021 group A</a></li>
  <li><a href="tests/fsst4_final_f2021_b_de/">FSST 4 final f2021 group B</a></li>
  <li><a href="tests/fsst4_final_s2022_a_de">FSST 4 final s2022 group A</a></li>
</ul>

<h2 id="software">Software</h2>
<ul>
  <li>KDE Neon Linux-based VirtualBox image with all programming tools we need:
    <a href="https://lehrer.bulme.at/~sg/vms/progamming.ova">progamming.ova</a><br />
    Download with username: <kbd>student</kbd>, ask in class for the password<br />
    Login with username: <kbd>student</kbd>, password: <kbd>changeme</kbd></li>
  <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a></li>
  <li><a href="https://files.kde.org/neon/images/user/current/neon-user-current.iso">KDE Neon Linux ISO image</a></li>
</ul>

<h2 id="curriculum">Content of the Curriculum (4th Year)</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<h4>Kompetenzmodul 7</h4>
<div><strong>Bildungs- und Lehraufgabe</strong></div>
<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Betriebssysteme und Dienste für spezielle Aufgabenbereiche auswählen, installieren und konfigurieren</li>
    </ul>
  </li>
  <li>Bereich Softwareentwicklung
    <ul>
      <li>Methoden des Softwareengineering anwenden</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>Programmierung für echtzeitnahe Steuerungen einsetzen</li>
      <li>Hardwarenahe Programmteile hinsichtlich Code- und Laufzeiteffizienz testen und evaluieren</li>
    </ul>
  </li>
</ul>

<div><strong>Lehrstoff</strong></div>

<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Betriebssystemkomponenten</li>
    </ul>
  </li>
  <li>Bereich Softwareentwicklung
    <ul>
      <li>Vorgehensmodelle</li>
      <li>Konfigurationsmanagement</li>
      <li>Validierung</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>Programmierung von Echtzeitsystemen</li>
    </ul>
  </li>
</ul>

<h4>Kompetenzmodul 8</h4>
<div><strong>Bildungs- und Lehraufgabe</strong></div>

<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Benutzer, deren Rechte und die Peripherie verwalten sowie Client bzw. Server in einem Netz konfigurieren</li>
    </ul>
  </li>
  <li>Bereich Softwareentwicklung
    <ul>
      <li>Programmiersprachen für die Lösung fachspezifischer Aufgaben anwenden</li>
    </ul>
  </li>
  <li>Bereich Datenbanken
    <ul>
      <li>Modelle des Datenbankentwurfs interpretieren sowie Datenbanken abfragen, planen und realisieren</li>
    </ul>
  </li>
  <li>Bereich Web- und Netzwerkprogrammierung
    <ul>
      <li>Client- und serverseitige Technologien einsetzen</li>
    </ul>
  </li>
</ul>


<div><strong>Lehrstoff</strong></div>
<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Betriebssystemdienste</li>
    </ul>
  </li>
  <li>Bereich Softwareentwicklung
    <ul>
      <li>Einsatz adäquater Programmiersprachen für fachspezifische Aufgabenstellungen</li>
    </ul>
  </li>
  <li>Bereich Datenbanken
    <ul>
      <li>Gängige Notationsformen, Strukturen, Entwurf, Implementierung, Abfragesprachen</li>
    </ul>
  </li>
  <li>Bereich Web- und Netzwerkprogrammierung
    <ul>
      <li>Client-Server-Architektur</li>
    </ul>
  </li>
</ul>

