---
title: Fachspezifische Informationstechnik
layout: layouts/presentation.njk
---

<section>
  <h2>Bildungs- und Lehraufgabe</h2>

  <h3>Bereich Verteilte Systeme</h3>
  <ul>
    <li>Client-Server Systeme und deren Eigenschaften erläutern</li>
    <li>Methoden zum Datenaustausch zwischen Applikationen erklären</li>
    <li>Verfügbarkeit und Systemzustände analysieren</li>
    <li>Die Begriffe Virtualisierung und Ausfallsicherheit und deren Anwendung erklären</li>
  </ul>
</section>

<section>
  <h2>Lehrstoff</h2>
  <ul>
    <li>Ausfallsicherheit</li>
    <li>Client-Server-Systeme (Anwendungen)</li>
    <li>Verfügbarkeit</li>
    <li>Virtualisierung (Server, Desktop)</li>
  </ul>
</section>
