---
layout: layouts/exercise_base.njk
exercise: Reading and Writing Files in C
points: 5
---

<ol>
  <li><strong>Read the current source file</strong><br />
    Implement a small c program consisting of a single source file
    <code>readme.c</code>. The program must print its own source code
    to <code>stdout</code>. To do so, use the functions <code>fopen(.)</code>
    and <code>fgetc(.)</code>. You can implement this directly in
    <code>main(.)</code>.
  </li>

</ol>
