---
title: FSST 1
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 1
  parent: FSST
  order: 1
---
<h2 id="overview">Course Overview</h2>

<h2 id="curriculum">Content of the Curriculum (1st Year)</h2>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)

<h4>Kompetenzmodul 3</h4>
<div><strong>Bildungs- und Lehraufgabe</strong></div>

<ul>
  <li>Bereich Programmiersprachen
    <ul>
      <li>vorgegebene Funktionalitäten strukturieren bzw. anhand eines Quellcodes nachvollziehen und analysieren</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>Basisfunktionen implementieren und testen</li>
      <li>Entwickler- und Benutzerdokumentation erstellen</li>
    </ul>
  </li>
</ul>

<div><strong>Lehrstoff</strong></div>

<ul>
  <li>Bereich Programmiersprachen
    <ul>
      <li>Programm- und Datenstrukturen</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>Basisalgorithmen, Systemdokumentation</li>
    </ul>
  </li>
</ul>

<h4>Kompetenzmodul 4</h4>
<div><strong>Bildungs- und Lehraufgabe</strong></div>

<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Vorgegebene systemnahe Befehle verwenden</li>
    </ul>
  </li>
  <li>Bereich Programmiersprachen
    <ul>
      <li>Datenstrukturen definieren, anwenden und speichern</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>strukturierte Mikrocontrollerprogramme erstellen</li>
    </ul>
  </li>
  <li>Bereich Web- und Netzwerkprogrammierung
    <ul>
      <li>Einfache Webseiten erstellen und benutzerfreundlich gestalten</li>
    </ul>
  </li>
</ul>

<div><strong>Lehrstoff</strong></div>

<ul>
  <li>Bereich Betriebssysteme
    <ul>
      <li>Anwendung von Systemsoftware</li>
    </ul>
  </li>
  <li>Bereich Programmiersprachen
    <ul>
      <li>Datenstrukturen, Dateiverwaltung</li>
    </ul>
  </li>
  <li>Bereich Hardwarenahe Programmentwicklung
    <ul>
      <li>Mikrocontroller Programmierung</li>
      <li>Wiederverwendbare Module</li>
    </ul>
  </li>
  <li>Bereich Web- und Netzwerkprogrammierung
    <ul>
      <li>Statische HTML-Seiten</li>
      <li>Grafikformate</li>
      <li>CSS</li>
    </ul>
  </li>
</ul>
